.header {
  position: relative;
  font-size: clamp(3rem, -0.875rem + 8.333vw, 3.5rem);
}
.headerContainer {
  max-width: 300px;
}

.header::before {
  content: "";
  position: absolute;
  background: #418d89;
  width: 100px;
  height: 5px;
  border-radius: 40px;
}
