.header {
  position: relative;
  font-size: clamp(30px, 120px, 300px);
}

.header::before {
  content: "";
  position: absolute;
  background: #418d89;
  width: 100px;
  height: 5px;
  border-radius: 40px;
}
